/*
            body{
                padding-left: 0.75rem;
                padding-right: 0.75rem;
                background: linear-gradient(45deg, #28d2fd, #6ce054);
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }

            a {
                text-decoration: none;
            }

            nav {
                border-bottom: 2px solid black;
                margin-bottom: 1.5rem;
            }

            nav p {
                font-weight: bold;
                display: inline-block;
            }

            nav ul {
                float: right;
                list-style-type: none;
                padding-left: 0;
            }

            nav ul li {
                display: inline-block;
                margin-left: 1rem;
            }

            .center {
                text-align: center;
            }

            .about img {
                border-radius: 100%;
                border-style: double;
                border-width: 5px;
                border-color: rgba(255, 254, 254, 0.76);
                transition: 0.1s;
            }

            img:hover {
                transition: 0.1s;
                transform: scale(1.2);
            }









            .food_list{
                padding: 2rem;
                font-family: cursive;
                font-size: 2rem;
                border: 2px solid red;
            }

            .blog-posts {
                border: 2px solid green;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 2rem;
                padding: 2rem;
            }

            img {
                width: 500px;
            }

            .projects{
                border: 1px dashed green;
            }

            .projects li {
                margin: 2rem;
            }
*/