{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}

<h1>About</h1>
<div class="about center-content">

    <div class="avatar">
        <img src="{{ url_for('static', filename='img_01.png') }}" alt="Avatar"/>
    </div>

    <section class="main">

        <div class="main-text">

            {% if name is none %}
            <h2>I don't know who I am</h2>
            {% else %}
            <h2>Hi, I'm {{name}}.</h2>
            <br/>
            <h3>Acting | Martial Arts | Fitness | Tech</h3>
            <h4><a href="../static/Resume-Tarun_Subramanian.pdf" target="_blank">>> Résumé <<</a></h4>
            {% endif %}
        </div>
        
        <!--div class="logos">
            <div class="skewed-pic" id="javascript"></div>
            <div class="skewed-pic" id="cpp"></div>
            <div class="skewed-pic" id="python"></div>
            <div class="skewed-pic" id="java"></div>
        </div-->
        
        <!--h3>Random Database List</h3>
            <ul class="food_list">
                {% for food in list_of_food %}
                <li>{{ food[0] }}</li>
                {% endfor %}
            </ul-->
            
    </section>

</div>


{% endblock %}
