{% extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<h1>Contact</h1>


<div class="contact-page">
    <form action="{{api}}" method="POST">
        <div class="contact-field">
            <label>
                <input type="text" name="name" placeholder="Name">
            </label>
        </div>

        <div class="contact-field">
            <label>
                <input type="email" name="_replyto" placeholder="Email">
            </label>
        </div>
        
        <div class="contact-field">
            <label>
                <textarea name="message" placeholder="Your Message" rows="5"></textarea>
            </label>
        </div>
        
        
        <!-- your other form fields go here -->
        <div class="contact-field">
            <button type="submit">Send</button>
        </div>
    </form>
</div>
    
<br>
<br>
<br>
<br>
<br>

{% endblock %}