{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<h1>Projects Page</h1>

<ul class="projects">
    <a href="https://gitfront.io/r/tvf3py3/38e6a314437481a346c4eaccce76e3c0cf3167a0/trading-bot-simulator/">
        <li>trading-bot-simulator: Simple trading bot with Kraken exchanges' API</li>
    </a>
    {% for project in projects %} 
    <a href="{{project['url']}}">
        <li>{{project["name"]}}: {{project["desc"]}}</li>
    </a>
    {% endfor %}
</ul>

{% endblock %}